@media screen and (min-width: 576px) {
  .sidebar {
    width: 200px;
  }
  .side-nav a {
    width: 30%;
  }
  .sidebar .side-nav figure {
    background-image: url("../img/logo.svg");
    margin: 20px 0;
  }
  .button + span,
  #user-profile + span {
    display: inline;
  }
  #user-profile {
    display: inline-block;
    vertical-align: middle;
  }
  #install-app + hr {
    display: block;
    margin-bottom: 20px;
    margin-top: 0;
    border: 1px solid white;
  }
  i.fa-arrow-alt-circle-down {
    width: 100%;
  }

  i.fa-arrow-alt-circle-down span {
    display: inline;
  }

  .playlist {
    display: block;
    height: 200px;
    /* overflow-y: auto; */
  }

  section.side-nav figure + ul.d-flexcol li {
    width: 200px;
    margin-left: -20px;
    padding: 0 20px;
  }
  section.side-nav figure + ul.d-flexcol li:hover {
    border-left: 3px solid #adff2f;
    cursor: pointer;
  }
  .title {
    width: 60%;
  }

  /* FINE QUERY 576 */
}

@media screen and (min-width: 768px) {
  /* .cover {
    vertical-align: middle;
  } */
  .main section li {
    flex-basis: 25%;
  }
  .brano-options i {
    float: left;
    width: calc(50% - 10px);
    margin: 0 5px;
  }
  footer .brano-options {
    content: "";
    display: table;
    clear: both;
    margin: 0 -5px;
  }
}

@media screen and (min-width: 992px) {
  .main section li {
    flex-basis: calc(100% / 6);
  }
  #footer-options i {
    margin: 0 10px;
  }
  .brano-options i {
    float: left;
    width: calc(50% - 10px);
    margin: 0 5px;
  }
  footer .brano-options {
    content: "";
    display: table;
    clear: both;
    margin: 0 -5px;
  }
}
