@media screen and (min-width: 576px) {
  .sidebar {
    width: 200px;
  }
  .sidebar .side-nav figure {
    background-image: url("../img/logo.svg");
    margin: 20px 0;
  }
  .button + span,
  #user-profile + span {
    display: inline;
  }
  #user-profile {
    display: inline-block;
    vertical-align: middle;
  }
  #install-app + hr {
    display: block;
    margin-bottom: 20px;
    margin-top: 0;
    border: 1px solid white;
  }
  i.fa-arrow-alt-circle-down {
    width: 100%;
  }

  i.fa-arrow-alt-circle-down span {
    display: inline;
  }

  .playlist {
    display: block;
    height: 200px;
    /* overflow-y: auto; */
  }

  section.side-nav figure + ul.d-flexcol li {
    width: 200px;
    margin-left: -20px;
    padding: 0 20px;
  }
  section.side-nav figure + ul.d-flexcol li:hover {
    border-left: 3px solid #adff2f;
  }
  .title {
    width: 60%;
  }

  /* FINE QUERY 576 */
}

@media screen and (min-width: 768px) {
  /* .cover {
    vertical-align: middle;
  } */
}
