* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

/* body {
  max-width: 1200px;
  margin: 0 auto;
} */

.d-flex {
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.568);
  height: 100px;
}

.main {
  flex-grow: 1;
  background-color: red;
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

.player {
  flex-basis: 100px;
  flex-shrink: 0;
  background-color: dodgerblue;
  width: 100%;
}

.sidebar {
  height: calc(100vh - 100px);
  background-color: black;
  overflow-y: auto;
  z-index: 1;
}

.pippo {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
}

/* HEADER */

.header > a:hover {
  top: 25px;
  box-shadow: -3px 5px 5px white;
}
