* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
img {
  max-width: 100%;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

/* body {
  max-width: 1200px;
  margin: 0 auto;
} */

/* .pippo {
  display: flex;
  flex-direction: row;
  /* width: 100%;
 } */

/* HEADER */

.header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.568);
  height: 100px;
}
.header > a:hover {
  top: 25px;
  box-shadow: -3px 5px 5px white;
}

/* SIDEBAR --------------------------------------------------------------------------*/

.sidebar {
  height: calc(100vh - 100px);
  background-color: black;
  z-index: 1;
  flex-shrink: 0;
  width: 50px;
  justify-content: space-between;
}

.side-container {
  width: 80%;
  margin: auto;
}

/* SIDEBAR TOP DIV */

.sidebar .side-nav figure {
  background-image: url("../img/logo-small.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
}

.side-nav {
  width: 100%;
}

.side-nav img {
  width: 100%;
  height: auto;
  /* margin: 5px 10px; */
}

.button {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: inherit;
}

.button > img {
  filter: invert(0.1);
}

section.side-nav figure + ul.d-flexcol {
  height: 150px;
}

section.side-nav figure + ul.d-flexcol li {
  padding: 5px;
}

.button + span,
#user-profile + span {
  display: none;
}

/* SIDEBAR BOTTOM DIV */

section.user-nav {
  height: 100px;
}

#install-app {
  display: block;
  width: 100%;
  height: 50px;
  margin: auto;
}

#user-profile {
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: gray;
  background-image: url("../img/profile.svg");
  background-position: center;
  background-size: contain;
}
/* -------------------------------------------------------------------------- */

/* Main */

.main {
  flex-grow: 1;
  background-color: #141922;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  color: #76797d;
}
nav {
  text-align: center;
  flex-basis: 100px;
  flex-shrink: 0;
}
nav li {
  transition: 0.2s;
}

nav li:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.borderlime {
  width: 40%;
  margin: 0 auto;
  border-bottom: 2px solid #adff2f;
  display: none;
}
nav li:hover .borderlime {
  display: block;
}

/* Main SECTIONS */

.main section li {
  flex-basis: 50%;
  flex-shrink: 0;
  padding: 0 10px;

  text-align: center;
}

.hover-play i:hover .song-cover {
  filter: grayscale(1);
}
.song-card img:hover {
  filter: grayscale(1);
}

.song-card figure:hover .hover-play {
  display: inline-block;
  z-index: 1;
}
/* .song-card {
  width: 90%;
  height: 70%;
  margin: 0 auto;
} */

/* -------------------------------------------------------------------------- */

/* Footer */

footer {
  /* flex-basis: 100px;
  flex-shrink: 0; */
  background-color: #282828;
  /* width: 100%; */
  justify-content: space-between;
  /* align-items: center; */
  color: #76797d;
}

/* Brano */
#brano {
  justify-content: space-between;
  align-content: center;
}
.footer-side {
  height: 100%;
  flex-basis: calc(25% - 20px);
  flex-shrink: 0;
  margin: 0 10px;
}
footer .card {
  flex-basis: 80%;
  flex-shrink: 0;
  height: 100%;
}

.cover {
  width: 50%;
  flex-shrink: 0;
}

.title {
  width: 50%;

  height: 100px;
  flex-shrink: 0;
}

footer .brano-options {
  align-self: center;
  flex-basis: 20%;
  flex-shrink: 0;
  margin: 0 10px;
}

/* Player */

#player {
  height: 100px;
  flex-basis: calc(40% - 20px);
  margin: 0 10px;
  flex-shrink: 0;
}

/* Player cmd */
#player-cmd {
  width: 200px;
  height: 50%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

/* Player time */
#player-time {
  width: 100%;
  height: 50%;
  justify-content: space-between;
  line-height: 100;
}
.progress-bar {
  width: calc(100% - (20% - 20px));
  margin: 0 auto;
  vertical-align: middle;
  height: 5px;
  background-color: #76797d;
  align-self: center;
  border-radius: 5px;
}
.progress-bar .completed {
  background-color: white;
  margin: 0;
}
.minuti {
  width: 50px;
  margin: 0 10px;
}

/* Footer options */
#footer-options i {
  margin: 0 1px;
}
